# Created by .ignore support plugin (hsz.mobi)
.idea
*.iml
*.xml
*.temp
agqr
*result
autopub_running
*.html
logs
nico_search/result
nohup.out
onsen_crawler/onsen.old
token
new_program_result.txt
new_program_result_ng.txt
nico_search/nico
nico_search/nico_imas
*pycache*
python-lib/*pycache*
python-lib/*token*
python-lib/*.pid
python-lib/*.db
python-lib/*webhook*
*.db
last_check_date.txt
